*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
}

body{
    background: url('../assets/pacote-d013/pacote-d013/imagens/fundo.jpg') center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    background: url('../assets/pacote-d013/pacote-d013/imagens/frame-iphone.png');
}

iframe#screen{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}